.container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f9;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
}
