.footer {
  background-color: #222;
  color: #aaa;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  color: #aaa;
  cursor: pointer;
}

.footer-links li:hover {
  color: #fff;
}


@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 8px;
  }

  .footer-links li {
    font-size: 12px;
  }
}
